{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container-fluid align-items-center mx-auto px-5 pt-5">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/address">Számlázási címek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Rendelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/list">Rendelések</a>
        </li>
    </ul>
</div>
<div class="container-fluid text-center mx-auto px-5 pt-5">
    <div class="row">
        <h3 class=" mt-5 mb-5">{{ form_title }}</h3>
        <div class="col-md-6 offset-md-1">
            {{ form_start(form) }}
                {{ form(form) }}
            {{ form_end(form)}}
        </div>
    </div>
</div>
<div class="container-fluid text-center mx-auto px-5 pt-5">
    <div>
        list
    </div>
</div>
{% endblock %}
