{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
<div class="container-fluid align-items-center mx-auto px-5 pt-5">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/address">Számlázási címek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Rendelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/list">Rendelések</a>
        </li>
    </ul>
</div>
<div class="container-fluid mx-auto px-5 pt-5 border">
    <div class="row">
        
        <div class="col-md-6 offset-md-1 mx-auto">
        {% if form is defined %}
            <h3 class="mb-5">
            {% if form_title is defined %}
            {{ form_title }}
            {% endif %}
            </h3>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="form-group">

                {{ form_widget(form.type,{'attr':{'class':'form-control mt-3 text-muted'}}) }}

                {% if form_errors(form.name)|length > 0 %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3  border-danger'}}) }}
                {% endif %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.name) }}
                </div>

                {% if form_errors(form.phone)|length > 0 %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.phone) }}
                </div>

                {% if form_errors(form.taxnum)|length > 0 %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.taxnum) }}
                </div>

                {% if form_errors(form.taxnum)|length > 0 %}
                    {{ form_widget(form.country,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.country,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.country) }}
                </div>

                {% if form_errors(form.postcode)|length > 0 %}
                    {{ form_widget(form.postcode,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.postcode,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.postcode) }}
                </div>

                {% if form_errors(form.city)|length > 0 %}
                    {{ form_widget(form.city,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.city,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}

                {% if form_errors(form.street)|length > 0 %}
                    {{ form_widget(form.street,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.street,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}

                {{ form_widget(form.submit,{'label':'Felvisz'}) }}
            </div>
            {{ form_end(form)}}
        {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid text-center mx-auto px-5 pt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Típus</th>
                <th scope="col">Név</th>
                <th scope="col">Telefonszám</th>
                <th scope="col">Adószám</th>
                <th scope="col">Ország</th>
                <th scope="col">Irányítószám</th>
                <th scope="col">Helység</th>
                <th scope="col">Utca, házszám</th>
                <th scope="col">&nbsp</th>
                <th scope="col">&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td scope="row">
                {% if data.type == 0 %}
                Magánszemély
                {% else %}
                Cég
                {% endif %}
                </td>
                <td scope="row">{{ data.name }}</td>
                <td scope="row">{{ data.phone }}</td>
                <td scope="row">{{ data.taxnum }}</td>
                <td scope="row">{{ data.country }}</td>
                <td scope="row">{{ data.postcode }}</td>
                <td scope="row">{{ data.city }}</td>
                <td scope="row">{{ data.street }}</td>
                <td scope="row">
                <a href="#" class="text-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg>
                </a>
                </td>
                <td scope="row">
                    <a href="#" class="text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}