{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
<div class="container-fluid align-items-center mx-auto px-5 pt-5">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/address">Számlázási címek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Rendelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/list">Rendelések</a>
        </li>
    </ul>
</div>
<div class="container-fluid mx-auto px-5 pt-5 border">
    <div class="row">
        <h3 class=" mt-5 mb-5">
        {% if form_title is defined %}
        {{ form_title }}
        {% endif %}
        </h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-6 offset-md-1">
        {% if form is defined %}
            {{ form_start(form) }}
            <div class="form-group">

                {{ form_widget(form.type,{'attr':{'class':'form-control mt-3'}}) }}

                {% if form_errors(form.name)|length > 0 %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3  border-danger'}}) }}
                {% endif %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.name) }}
                </div>

                {% if form_errors(form.phone)|length > 0 %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.phone) }}
                </div>

                {% if form_errors(form.taxnum)|length > 0 %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3  border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.taxnum) }}
                </div>

                {{ form_label(form.country,"Ország") }}
                {{ form_widget(form.country,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.postcode,"Irányítószám") }}
                {{ form_widget(form.postcode,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.city,"Helység") }}
                {{ form_widget(form.city,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.street,"Utca, házszám") }}
                {{ form_widget(form.street,{'attr':{'class':'form-control'}}) }}

                {{ form_widget(form.submit,{'label':'Felvisz'}) }}
            </div>
            {{ form_end(form)}}
        {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid text-center mx-auto px-5 pt-5">
    <div>
        list
    </div>
</div>
{% endblock %}
