{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
<div class="container-fluid align-items-center mx-auto px-5 pt-5">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/address">Számlázási címek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Rendelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/list">Rendelések</a>
        </li>
    </ul>
</div>
<div class="container-fluid mx-auto px-5 pt-5 border">
    <div class="row">
        
        <div class="col-md-6 offset-md-1 mx-auto">
        {% if form is defined %}
            <h3 class="mb-5">
            {% if form_title is defined %}
            {{ form_title }}
            {% endif %}
            </h3>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="form-group">

                {{ form_widget(form.type,{'attr':{'class':'form-control mt-3 text-muted'}}) }}

                {% if form_errors(form.name)|length > 0 %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3  border-danger'}}) }}
                {% endif %}
                {{ form_widget(form.name,{'attr':{'class':'form-control mt-3'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.name) }}
                </div>

                {% if form_errors(form.phone)|length > 0 %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                   {{ form_widget(form.phone,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.phone) }}
                </div>

                {% if form_errors(form.taxnum)|length > 0 %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.taxnum,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.taxnum) }}
                </div>

                {% if form_errors(form.taxnum)|length > 0 %}
                    {{ form_widget(form.country,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.country,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.country) }}
                </div>

                {% if form_errors(form.postcode)|length > 0 %}
                    {{ form_widget(form.postcode,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.postcode,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}
                <div class="text-danger">
                    {{ form_errors(form.postcode) }}
                </div>

                {% if form_errors(form.city)|length > 0 %}
                    {{ form_widget(form.city,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.city,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}

                {% if form_errors(form.street)|length > 0 %}
                    {{ form_widget(form.street,{'attr':{'class':'form-control mt-3 border-danger'}}) }}
                {% else %}
                    {{ form_widget(form.street,{'attr':{'class':'form-control mt-3'}}) }}
                {% endif %}

                {{ form_widget(form.submit,{'label':'Felvisz'}) }}
            </div>
            {{ form_end(form)}}
        {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid text-center mx-auto px-5 pt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Típus</th>
                <th scope="col">Név</th>
                <th scope="col">Telefonszám</th>
                <th scope="col">Adószám</th>
                <th scope="col">Ország</th>
                <th scope="col">Irányítószám</th>
                <th scope="col">Helység</th>
                <th scope="col">Utca, házszám</th>
                <th scope="col">&nbsp</th>
                <th scope="col">&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td scope="row">{{ data.type }}</td>
                <td scope="row">{{ data.name }}</td>
                <td scope="row">{{ data.phone }}</td>
                <td scope="row">{{ data.taxnum }}</td>
                <td scope="row">{{ data.country }}</td>
                <td scope="row">{{ data.postcode }}</td>
                <td scope="row">{{ data.city }}</td>
                <td scope="row">{{ data.street }}</td>
                <td scope="row">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                </td>
                <td scope="row"><a href="#" class="btn btn-danger">Töröl</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
